---
- name: Set DNS server using nmcli if gpu_validation_dns_server is set
  ansible.builtin.shell: |
    nmcli con mod "System eth0" ipv4.dns "{{ gpu_validation_dns_server }}" ipv4.ignore-auto-dns yes
    nmcli con up "System eth0"
  when: gpu_validation_dns_server != ""
  changed_when: true

- name: Install pciutils package
  ansible.builtin.dnf:
    use_backend: dnf4
    name: pciutils
    state: present

- name: Install pip package
  ansible.builtin.dnf:
    use_backend: dnf4
    name: python-pip
    state: present

- name: Install podman package
  ansible.builtin.dnf:
    use_backend: dnf4
    name: podman
    state: present

- name: Copy scripts from local to RHEL AI machine
  ansible.builtin.copy:
    src: "{{ role_path }}/files/scripts"
    dest: /tmp
    mode: "1777"
